#app {

  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    margin-left: $sideBarWidth;
    position: relative;
  }



  .layout-sidebar-dark{
    background-color: $menuBg-dark;
    
    .sidebar-logo-container {
      position: relative;
      width: 100%;
      height: 50px;
      line-height: 50px;
      background: #2b2f3a;
      text-align: center;
      //padding: 0 24px;
      overflow: hidden;
    
      & .sidebar-logo-link {
        height: 100%;
        width: 100%;
    
        & .sidebar-logo {
          width: 32px;
          height: 32px;
          vertical-align: middle;
          margin-right: 12px;
        }
    
        & .sidebar-title {
          display: inline-block;
          margin: 0;
          color: #fff;
          font-weight: 600;
          line-height: 50px;
          font-size: 16px;
          font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
          vertical-align: middle;
        }
      }
    
      &.collapse {
        .sidebar-logo {
          margin-right: 0px;
        }
      }
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
      background-color: $menuBg-dark !important;
      // &.el-menu-item .submenu-title-noDropdown{
      //   color: $menuText !important;
      // }
    }

    // menu hover
    .submenu-title-noDropdown,
    .el-submenu__title {
      color: $menuText-dark !important;
      &:hover {
        background-color: $menuHover-dark !important;
      }
      &:focus{
        background-color: $menuBg-dark !important;
      }
      &.is-active{
        color: $subMenuActiveText-dark !important;
      }
    }

    .is-active>.el-submenu__title {
      color: $subMenuActiveText-dark !important;
    }
   
    & .nest-menu .el-submenu>.el-submenu__title,
    & .el-submenu .el-menu-item {
      min-width: $sideBarWidth !important;
      background-color: $subMenuBg-dark !important;
      color: $menuText-dark !important;
      &:hover {
        background-color: $subMenuHover-dark !important;
      }
      &:focus{
        //background-color: $subMenuHover-dark !important;
      }
      &.is-active{
        color: $subMenuActiveText-dark !important;
      }
    }

  }

  .layout-sidebar-light{

    .sidebar-logo-container {
      position: relative;
      width: 100%;
      height: 50px;
      line-height: 50px;
      background: #fff;
      text-align: center;
      //padding: 0 24px;
      overflow: hidden;
    
      & .sidebar-logo-link {
        height: 100%;
        width: 100%;
    
        & .sidebar-logo {
          width: 32px;
          height: 32px;
          vertical-align: middle;
          margin-right: 12px;
        }
    
        & .sidebar-title {
          display: inline-block;
          margin: 0;
          color: $menuText-light;
          font-weight: 600;
          line-height: 50px;
          font-size: 16px;
          font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
          vertical-align: middle;
        }
      }
    
      &.collapse {
        .sidebar-logo {
          margin-right: 0px;
        }
      }
    }

    background-color: $menuBg-light;
    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
      background-color: $menuBg-light !important;
      // &.el-menu-item .submenu-title-noDropdown{
      //   color: $menuText !important;
      // }
    }

    // menu hover
    .submenu-title-noDropdown,
    .el-submenu__title {
      color: $menuText-light !important;
      &:hover {
        background-color: $menuHover-light !important;
      }
      &:focus{
        background-color: $menuBg-light !important;
      }
      &.is-active{
        color: $subMenuActiveText-light !important;
      }
    }

    .is-active>.el-submenu__title {
      color: $subMenuActiveText-light !important;
    }
   
    & .nest-menu .el-submenu>.el-submenu__title,
    & .el-submenu .el-menu-item {
      min-width: $sideBarWidth !important;
      background-color: $subMenuBg-light !important;
      color: $menuText-light !important;
      &:hover {
        background-color: $subMenuHover-light !important;
      }
      &.is-active{
        color: $subMenuActiveText-light !important;
      }
    }

  }

  .sidebar-container {
    box-shadow: 8px 0 8px 0 rgba(29,35,41,.05);
    transition: width 0.28s;
    width: $sideBarWidth !important;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;

    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      height: 100%;
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 50px);
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 16px;
    }
    
      
    
  }

  .hideSidebar {
    .fixed-header {
      width: calc(100% - 54px);
    }
    .sidebar-container {
      width: 54px !important;
    }

    .main-container {
      margin-left: 54px;
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .el-tooltip {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }
      }
    }

    .el-submenu {
      overflow: hidden;

      &>.el-submenu__title {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
   // min-width: $sideBarWidth !important;
  }






  // mobile responsive
  .mobile {
    .fixed-header {
      width: 100%;
    }
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform .28s;
     // width: $sideBarWidth !important;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-$sideBarWidth, 0, 0);
      }
    }
  }

  .withoutAnimation {

    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// when menu collapsed
.el-menu--vertical {
  &>.el-menu {
    .svg-icon {
      margin-right: 16px;
    }
  }

  .nest-menu .el-submenu>.el-submenu__title,
  .el-menu-item {
    &:hover {
      // you can use $subMenuHover
     // background-color: $menuHover !important;
    }
  }

  // the scroll bar appears when the subMenu is too long
  >.el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      //background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
     // background: #99a9bf;
      border-radius: 20px;
    }
  }
}
